In [1]:
import pandas as pd
import re # Importando o Regular Expressions

In [2]:
df = pd.read_csv('house.csv')

In [5]:
# Agrupando os dados de acordo com o vendedor com o maior n√∫mero de vendas
df.groupby(['SellerG']).sum().sort_values('Price', ascending= False).head(10)

,Suburb,Address,Rooms,Type,Price,Method,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
SellerG,,,,,,,,,,,,
Barry,6894,6894,6894,6894,4818,6894,6894,6894,6894,6894,6894,6894
Jellis,5499,5499,5499,5499,4088,5499,5499,5499,5499,5499,5499,5499
Nelson,4739,4739,4739,4739,4008,4739,4739,4739,4739,4739,4739,4739
Ray,4554,4554,4554,4554,3653,4554,4554,4554,4554,4554,4554,4554
hockingstuart,4332,4332,4332,4332,3465,4332,4332,4332,4332,4332,4332,4332
Buxton,3357,3357,3357,3357,2580,3357,3357,3357,3357,3357,3357,3357
Marshall,2844,2844,2844,2844,1721,2844,2844,2844,2844,2844,2844,2844
Fletchers,1612,1612,1612,1612,1160,1612,1612,1612,1612,1612,1612,1612
Biggin,1535,1535,1535,1535,1022,1535,1535,1535,1535,1535,1535,1535
Harcourts,1211,1211,1211,1211,912,1211,1211,1211,1211,1211,1211,1211